<% var rsvp_count = 0, sunday_brunch = 0, rehersal = 0; %>

<table border="1">
    <tr>
        <th>
            Group
        </th>
        <th>
            Names
        </th>
        <th>
            # of names
        </th>
        <th>
            Response
        </th>
        <th>
            Comments
        </th>
        <th>
            Rehersal Dinner
        </th>
        <th>
            Sunday Brunch
        </th>
    </tr>
    <% rsvps.forEach(function(rsvp) {
        var numNames;
        if (typeof rsvp.names === "string") {
            numNames = 1;
        } else {
            numNames = rsvp.names.filter(function(v) { return v !== '' }).length;
        }
        if (rsvp.response) {
            rsvp_count += numNames;
        }
        if (rsvp.rehearsal_dinner_response) {
            rehersal += numNames;
        }
        if (rsvp.sunday_brunch_response) {
            sunday_brunch += numNames;
        } %>
            <tr>
                <td>
                    <%= rsvp.group_name %>
                </td>
                <td>
                    <%= rsvp.names %>
                </td>
                <td>
                    <%= numNames %>
                </td>
                <td>
                    <%= rsvp.response %>
                </td>
                <td>
                    <%= rsvp.notes %>
                </td>
                <td>
                    <%= rsvp.rehearsal_dinner_response %>
                </td>
                <td>
                    <%= rsvp.sunday_brunch_response %>
                </td>
            </tr>
    <% }) %>
    <tr>
        <td>

        </td>
        <td>
        </td>
        <td>

        </td>
        <td>
            Total: <%= rsvp_count %>
        </td>
        <td>

        </td>
        <td>
            Total: <%= rehersal %>
        </td>
        <td>
            Total: <%= sunday_brunch %>
        </td>
    </tr>
</table>
