<% var rsvp_count = 0, sunday_brunch = 0, rehersal = 0; %>

<table border="1">
    <tr>
        <th>
            Group
        </th>
        <th>
            Names
        </th>
        <th>
            Response
        </th>
        <th>
            Comments
        </th>
        <th>
            Rehersal Dinner
        </th>
        <th>
            Sunday Brunch
        </th>
    </tr>
    <% rsvps.forEach(function(rsvp) {
        if (rsvp.response) {
            if (typeof rsvp.response === "string") {
                rsvp_count++;
            } else {
                rsvp_count += rsvp.names.length;
            }
        if (rsvp.rehearsal_dinner_response) rehersal++;
        if (rsvp.sunday_brunch_response) sunday_brunch++ ;%>
            <tr>
                <td>
                    <%= rsvp.group_name %>
                </td>
                <td>
                    <%= rsvp.names %>
                </td>
                <td>
                    <%= rsvp.response %>
                </td>
                <td>
                    <%= rsvp.notes %>
                </td>
                <td>
                    <%= rsvp.rehearsal_dinner_response %>
                </td>
                <td>
                    <%= rsvp.sunday_brunch_response %>
                </td>
            </tr>
    <% }) %>
    <tr>
        <td>

        </td>
        <td>

        </td>
        <td>
            Tota: <%= rsvp_count %>
        </td>
        <td>

        </td>
        <td>
            Tota: <%= rehersal %>
        </td>
        <td>
            Total: <%= sunday_brunch %>
        </td>
    </tr>
</table>
